.env
.venv/
__pycache__/
*.pyc
.DS_Store
*.zip
*.egg-info/
nohup.out
*.log

# Pipeline-Ausgaben
pipeline/raw/
pipeline/cache/staging_cache/
*.pkl
dataset/model_input/
dataset/*.csv
dataset/*.npy
dataset/webshop_data/

# Alte Daten
claude_logic_input/
recbole_data/
checkpoints/

# Training-Ausgaben
training/checkpoints/
saved/

trained